<header>
  <h2>The Face Game!</h2>
  <h4>Who Are These People???</h4>
</header>

<div class="setup" *ngIf="!gameStart">
  <h3>Start New Game</h3>
  <label>How many?
    <input type="number" [(ngModel)]="numFaces">
    <button class="max" (click)="onMax()">Max</button>
    <span>{{available}} total</span>
  </label>
  <button class="start"
          (click)="onStartClick()">
    Play!
  </button>
</div>

<div class="game" *ngIf="gameStart">
  <div class="in-progress" *ngIf="this.faceIndex < this.total">
    <h3>Who Am I?</h3>
    <div class="score">{{score}}</div>
    <div class="face">
      <img [src]="faces[faceIndex].src" alt="">
    </div>
    <input type="text" [(ngModel)]="answer" (keyup.enter)="onSubmit()">
  </div>

  <div class="message" *ngIf="message.length > 0">{{message}}</div>

  <div class="results" *ngIf="faceIndex === this.total">
    <h3>It's Over!!!</h3>
    <h3 class="final-score">{{finalScore | number: '0.0-1'}}%</h3>
    <h4 class="final-text">{{finalText}}</h4>
    <button class="new"
           (click)="newGame()">
      New Game
    </button>
  </div>
</div>
