.app {
  margin: 0 auto;
  height: 768px;
  font-size: 1.25em;
  width: 75%;
  border-left: 3px solid rgb(209, 210, 189);
  border-right: 3px solid rgb(209, 210, 189);
}

* {
  /* border: 1px solid #678; */
}

header {
  background-color: #cee9e0;
  margin-top: 0;
  padding: 18px;
  border-bottom: 2px solid #d2e0d9;
}

.title {
  font-size: 2.2em;
  color: rgb(158, 107, 139);
  margin: 0 0 8px 0;
}

.subtitle {
  margin: 0;
  color: #847c8b;
  font-style: italic;
}

.setup, .results {
  padding-top: 80px;
}

.setup-box, .results {
  width: 40%;
  background-color: rgb(252, 248, 235);
  margin: 0 auto;
  padding: 32px 8px;
  border: 1px solid #9c9cc9;
  border-radius: 3px;
}

.setup-title {
  color: #39753d;
}

label {
  font-size: 1.15em;
  margin-right: 8px;
}

.how-many {
  width: 65px;
  font-size: 1.15em;
  border-radius: 10px;
  text-align: center;
}

.max-row {
  margin: 20px 0px 50px 0px;
}

.max-label {
  color: #666;
  font-size: .9em;
}

.note {
  width: 65%;
  margin: 10px auto;
  text-align: left;
  font-size: .6em;
  color: rgb(164, 151, 139);
}

button {
  font-size: 1.2em;
  padding: 8px 12px;
  border-radius: 6px;
  color: #eee;
  transition: background-color .3s;
  cursor: pointer;
}

.max {
  margin-right: 10px;
  font-size: 1.1em;
  padding: 6px 12px;
  color: rgb(65, 32, 28);
  background-color: rgb(240, 210, 165);
}

.max:hover {
  background-color: rgb(224, 177, 105);
}

.play {
  font-size: 1.3em;
  background-color: rgb(57, 147, 80);
  width: 65%;
}

.play:hover {
  background-color: rgb(31, 108, 51);
}

.new {
  background-color: #2172ad;
  font-size: 1.3em;
  width: 65%;
}
.new:hover {
  background-color: #0d4b78;
}
.start-over {
  background-color: #c6876c;
  color: #eee;
  font-size: .8em;
  padding: 6px 10px;
  position: absolute;
  top: 8px;
  left: 10%;
}
.start-over:hover {
  background-color: #b8613d;
}

.in-progress {
  position: relative;
  padding-top: 20px;
}

.score {
  position: absolute;
  font-size: 1.2em;
  top: 8px;
  right: 10%;
}

.face {
  margin: 32px 0 24px 0;
}
.face-pic {
  min-height: 350px;
  max-height: 350px;
}

.guess {
  font-size: 1.4em;
  border: 1px solid rgb(29, 52, 62);
  padding: 4px;
  text-align: center;
}

.message {
  width: 40%;
  margin: 20px auto;
  padding: 8px;
  font-size: 1.3em;
  color: rgb(145, 134, 121);
  border: 1px solid rgb(212, 221, 224);
  border-radius: 4px;
}

.success {
  background-color: rgb(238, 251, 237);
  color: rgb(64, 135, 8);
}
.fail {
  background-color: rgb(250, 239, 242);
  color: rgb(148, 51, 16);
}

/* RESULTS */

.results {
  margin-top: 80px !important;
  padding-top: 12px !important;
}

.final-title {
  font-size: 1.5em;
  margin-bottom: 24px;
}

.final-score {
  width: 120px;
  height: 76px;
  font-size: 32px;
  margin: 8px auto;
  padding: 40px 2px 0 2px;
  border: 2px solid rgb(92, 198, 182);
  border-radius: 66px;
}

.final-text {
  color: rgb(147, 139, 133);
}
