<header>
  <h2 class="title">The Face Game</h2>
</header>
<div class="app">
  <div class="setup" *ngIf="!gameStart">
    <div class="setup-box">
      <label>How many?
        <input class="how-many" type="number" [(ngModel)]="numFaces" min="0" [max]="faces.length" autofocus>
      </label>
      <div class="max-row">
        <button class="max" (click)="onMax()">Max</button>
        <span class="max-label">({{available}} total)</span>
      </div>
      <p class="note">(lowercase is fine but spelling counts!)</p>
      <button class="play"
              (click)="onStartClick()">
        Play!
      </button>
    </div>
  </div>

  <div class="game" *ngIf="gameStart">
    <div class="in-progress" *ngIf="this.faceIndex < this.total">
      <button class="start-over" (click)="newGame()">Start Over</button>
      <div class="score"><span class="score-label">Score: </span>{{score}} / {{total}}</div>
      <div class="face">
        <img class="face-pic" [src]="faces[faceIndex].src" alt="">
      </div>
      <input class="guess" type="text" [(ngModel)]="answer" (keyup.enter)="onSubmit()" autofocus>
    </div>

    <div class="results" *ngIf="faceIndex === this.total">
      <h3 class="final-title">{{finalTitle}}</h3>
      <div class="final-score">{{finalScore | number: '0.0-1'}}%</div>
      <h4 class="final-text">{{finalText}}</h4>
      <button class="new"
             (click)="newGame()">
        New Game
      </button>
    </div>

    <div class="message" *ngIf="message.length > 0"
         [ngClass]="messageStyle">
      {{message}}
    </div>
  </div>
</div>
